{{template "base" .}}

{{define "css"}}

{{end}}

{{define "content"}}

<form id='login-form' method='post' action='/auth/signin'>

</form>

<form id='registration-form' method='post' action='/auth/signup'>

</form>
{{end}}

{{define "js"}}

{{end}}